.nav {
    min-height: 5rem;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto 2rem auto;
    padding: 0 8vw;

    @media (max-width: 47.5em) {
       justify-content: space-between;
    }
}

.header {
    min-height: 35rem;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto 2rem auto;
    padding: 0 8vw;
    overflow: hidden;
    background-image: url(/images/illustration-working.svg);
    background-repeat: no-repeat;
    background-position: top 10px right -140px;  

    @media (max-width: 62.5em) {
        background-position: center top; 
        background-size: clamp(30rem, 70vw, 80vw);
        min-height: 45rem;
    }
}

.main {
    max-width: 1440px;
    min-height: 52rem;
    margin: 5rem auto 0 auto;
    padding: 0 8vw;
    background-color: hsla(0, 3%, 83%, 0.371);

    display: flex;
    flex-direction: column;

    @media (max-width: 62.5em) {
        margin: 8rem auto 0 auto;
        min-height: 85rem;
        padding-bottom: 10rem;
    }
}

.search {
    transform: translateY(-4.5rem);
    height: 8.5rem;
    background: url(/images/bg-shorten-desktop.svg);
    background-color: var(--Dark-Violet);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.boost {
    min-height: 15rem;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8vw;
    background-color: var(--Dark-Violet);
    background-image: url(/images/bg-boost-desktop.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    min-height: 17rem;
    background-color: #000;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 8vw 2rem 8vw;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 22.5em) {
        flex-direction: column;
        align-items: center;
    }
}